[submodule "lib/SDDS"]
	path = lib/SDDS
	url = https://github.com/mLamneck/SDDS.git
[submodule "lib/SDDS_particleSpike"]
	path = lib/SDDS_particleSpike
	url = https://github.com/KopfLab/SDDS_particleSpike.git
[submodule "lib/Adafruit_BusIO/src"]
	path = lib/Adafruit_BusIO/src
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "lib/Adafruit_GFX/src"]
	path = lib/Adafruit_GFX/src
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
